@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #202124;
}

body {
  background: #f8f9fa;
  color: #202124;
}

@media print {
  nav { display: none; }
  body { background: white; color: black; }
}
